.ui.inverted.vertical.center.aligned.segment.mobile.hidden
  .ui.container(style='padding: 50px')
    .ui.text.container      
      #shape1.ui.shape
        .sides
          .shape-container.side.active
            .content.shape-container
              .center
                h1.ui.inverted.header
                  | Why did the web developer cross the road?
                img.ui.small.bordered.rounded.image.centered(src='media/images/fullstack.png' )   
                h2
                  | To get to the other site.
                br        
          .shape-container.side(*ngFor="#j of jokes; #index = index")
            .content.shape-container
              .center
                h1.ui.inverted.header
                  | {{j.setup}}
                img.ui.small.bordered.rounded.image.centered(src='media/images/fullstack.png' )   
                h2
                  | {{j.punchline}}
                br

      .ui.huge.facebook.button(ui-shape [options]="{selector: '#shape1', animation: 'flip left'}")
        | Come at me bro
        i.right.arrow.icon

.ui.inverted.vertical.center.aligned.segment.mobile.only
  .ui.container
    br
    br
    h1 - Yo! -
    img.ui.large.bordered.rounded.image.centered(src='media/images/fullstack.png' )   


.ui.vertical.stripe
  .ui.middle.aligned.stackable.grid.container
    .center.aligned.column
        fuel-stations

      
.ui.vertical.stripe.quote.segment.inverted.mobile.hidden
  .ui.equal.width.stackable.internally.celled.grid.doubling
    .center.aligned.row
      .column(*ngFor='#c of commentsAboutMe ')
        div(style='min-height: 200px')
          h3
            | "{{c.quote}}"             
        p
          br
          br
          img.ui.avatar.image(src='{{c.image}}')      
          br
          br
          | {{c.from}}
          br
          small {{c.company}}
br          
.ui.vertical.stripe.quote.segment.inverted
  .ui.equal.width.stackable.internally.celled.grid.doubling
    .center.aligned.row          
      .column
        h3
          | "HIRE THIS BEAUTIFUL LUNATIC RIGHT NOW!"    
        br
        br
        img.ui.avatar.image(src='media/images/rachel.png')      
        br
        br
        p
          | You, Smartest Hiring Manager Ever
        small
          | The Place Where You Work At
        
.ui.vertical.stripe.segment
  .ui.text.container
    h3.ui.header Title 1
    p
      lorem-ipsum
    h3.ui.header Title 2
    p
      lorem-ipsum   
