
<div class="ui inverted vertical center aligned segment mobile hidden">
  <div style="padding: 50px" class="ui container">
    <div class="ui text container">     
      <div id="shape1" class="ui shape">
        <div class="sides">
          <div class="shape-container side active">
            <div class="content shape-container">
              <div class="center">
                <h1 class="ui inverted header">Why did the web developer cross the road?</h1><img src="media/images/fullstack.png" class="ui small bordered rounded image centered"/>
                <h2>To get to the other site.</h2><br/>
              </div>
            </div>
          </div>
          <div *ngFor="#j of jokes; #index = index" class="shape-container side">
            <div class="content shape-container">
              <div class="center">
                <h1 class="ui inverted header">{{j.setup}}</h1><img src="media/images/fullstack.png" class="ui small bordered rounded image centered"/>
                <h2>{{j.punchline}}</h2><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip left'}" class="ui huge facebook button">Come at me bro<i class="right arrow icon"></i></div>
    </div>
  </div>
</div>
<div class="ui inverted vertical center aligned segment mobile only">
  <div class="ui container"><br/><br/>
    <h1>- Yo! -</h1><img src="media/images/fullstack.png" class="ui large bordered rounded image centered"/>
  </div>
</div>
<div class="ui vertical stripe">
  <div class="ui middle aligned stackable grid container">
    <div class="center aligned column">
      <fuel-stations></fuel-stations>
    </div>
  </div>
</div>
<div class="ui vertical stripe quote segment inverted mobile hidden">
  <div class="ui equal width stackable internally celled grid doubling">
    <div class="center aligned row">
      <div *ngFor="#c of commentsAboutMe " class="column">
        <div style="min-height: 200px">
          <h3>"{{c.quote}}"             </h3>
        </div>
        <p><br/><br/><img src="{{c.image}}" class="ui avatar image"/><br/><br/>{{c.from}}<br/><small>{{c.company}}</small></p>
      </div>
    </div>
  </div>
</div><br/>
<div class="ui vertical stripe quote segment inverted">
  <div class="ui equal width stackable internally celled grid doubling">
    <div class="center aligned row">         
      <div class="column">
        <h3>"HIRE THIS BEAUTIFUL LUNATIC RIGHT NOW!"    </h3><br/><br/><img src="media/images/rachel.png" class="ui avatar image"/><br/><br/>
        <p>You, Smartest Hiring Manager Ever</p><small>The Place Where You Work At</small>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Title 1</h3>
    <p>
      <lorem-ipsum></lorem-ipsum>
    </p>
    <h3 class="ui header">Title 2</h3>
    <p>
      <lorem-ipsum>  </lorem-ipsum>
    </p>
  </div>
</div>