.ui.vertical.stripe
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column  
        img.ui.medium.bordered.centered.circular.image.is-pointer(src='media/images/mehighfive.jpg')                
      .six.wide.column
        h3.ui.header 10+ Years Of Experience
        p
          | I've been developing websites since 2005, but I've been programming since the mid 90's.  Remember QBasic?  Actionscript?  DarkBasic?
          | No?  Hey, neither do I because those languages suck at making websites.
     
  
.ui.container    

  .ui.middle.aligned.stackable.grid.container.equal
    .row
      .eight.wide.column(style='padding: 0') 
        h1 Stuff I Know!
      .eight.wide.column(style='padding: 0; text-align: right') 
        p.orange.is-pointer(style='font-size: 12px' ui-transition-button [options]="{selector: '.dancer', animation: 'tada', interval: 10}") Jazz hands!
  br
  br
  .ui.link.cards.centered.eight.doubling.segment
    .card.blurring.dancer(*ngFor="#s of skills")
      .ui.dimmer(ui-dimmer [options]="{on: 'hover'}")
        .content
          h5 {{s.title}}      
      .image(style='padding: 10px' )
        img(src='{{s.src}}' )    

  br
  br
  .ui.vertical.stripe
    .ui.middle.aligned.stackable.grid.container
      .center.aligned.column
          h1 Download Resume     
          .ui.buttons
            button.ui.button
              a(style='color: white' href='media/downloads/allenRoyston_resume.pdf' download="allenRoyston_resume.pdf") &nbsp;PDF&nbsp;
            .or
            button.ui.facebook.button
              a(style='color: white' href='media/downloads/allenRoyston_resume.docx' download="allenRoyston_resume.docx") DOCX  

        
       
