
<div id="sidebar1" class="ui right vertical menu sidebar inverted"><a class="item">Item 1</a><a class="item">Item 2</a><a class="item">Item 3</a></div>
<div id="sidebar2" class="ui left vertical menu sidebar inverted"><a class="item">Item 1</a><a class="item">Item 2</a><a class="item">Item 3    </a></div>
<div id="sidebar3" class="ui bottom menu sidebar inverted"><a class="item">Item 1</a><a class="item">Item 2</a><a class="item">Item 3    </a></div>
<div id="sidebar4" class="ui top menu sidebar inverted"><a class="item">Item 1</a><a class="item">Item 2</a><a class="item">Item 3    </a></div>