body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*  SETS WIDTH OF PAGE CONTAINER */
#hero-container{
	max-width: 700px!important;
}

.hide-segment{
  box-shadow: none!important;
  border: none!important
}
