
<hr/>
<div class="ui sub header">Sidebar</div>
<div class="ui segment">
  <div ui-sidebar="ui-sidebar" [options]="{selector: '#sidebar1', animation: 'push'}" class="button ui">Right Sidebar (P)</div>
  <div ui-sidebar="ui-sidebar" [options]="{selector: '#sidebar2', animation: 'overlay'}" class="button ui">Left Sidebar (O)</div>
  <div ui-sidebar="ui-sidebar" [options]="{selector: '#sidebar3', animation: 'scale down'}" class="button ui">Bottom Sidebar (S)</div>
  <div ui-sidebar="ui-sidebar" [options]="{selector: '#sidebar4', animation: 'scale down'}" class="button ui">Top Sidebar (S)</div>
</div>
<div class="ui sub header">Highlight</div>
<div class="ui segment">
  <h4><span [myHighlight]="'yellow'">Highlight Text</span></h4>
</div><br/><br/>
<hr/>
<div class="ui sub header">Accordian</div>
<div class="ui segment">
  <div ui-accordian="ui-accordian" class="ui styled fluid accordion">
    <div class="active title"><i class="dropdown icon"></i>		What is a dog?</div>
    <div class="active content">
      <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
    <div class="title"><i class="dropdown icon"></i>		What kinds of dogs are there?</div>
    <div class="content">
      <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
    </div>
    <div class="title"><i class="dropdown icon"></i>		How do you acquire a dog?</div>
    <div class="content">
      <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
      <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
    </div>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Toggle</div>
<div class="ui segment">
  <div ui-checkbox="ui-checkbox" [toggle]="true" class="ui toggle checkbox">
    <input type="checkbox"/>
    <label>Is Toggled!</label>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Blur</div>
<div ui-dimmer="ui-dimmer" class="ui blurring segment">
  <div class="ui"></div>
  <p>I can blur!</p>
  <p>neat!</p>
</div><br/><br/>
<hr/>
<div class="ui sub header">Selection</div>
<div class="ui segment">
  <select multiple="multiple" ui-dropdown="ui-dropdown" [options]="{maxSelections: 4}" class="ui fluid normal dropdown">
    <option value="">Skills</option>
    <option value="angular">Angular</option>
    <option value="css">CSS</option>
    <option value="design">Graphic Design</option>
    <option value="ember">Ember</option>
    <option value="html">HTML</option>
    <option value="ia">Information Architecture</option>
    <option value="javascript">Javascript</option>
    <option value="mech">Mechanical Engineering</option>
    <option value="meteor">Meteor</option>
    <option value="node">NodeJS</option>
    <option value="plumbing">Plumbing</option>
    <option value="python">Python</option>
    <option value="rails">Rails</option>
    <option value="react">React</option>
    <option value="repair">Kitchen Repair</option>
    <option value="ruby">Ruby</option>
    <option value="ui">UI Design</option>
    <option value="ux">User Experience</option>
  </select>
</div><br/><br/>
<hr/>
<div class="ui sub header">Embed</div>
<div ui-embed="ui-embed" [options]="{source: 'youtube', id: 'Ff9lqoQ6S1w', placeholder: 'media/images/blackgradientstripes.png'}" class="ui segment ui embed"></div><br/><br/>
<hr/>
<div class="ui sub header">Modals</div>
<div ui-modal="ui-modal" [options]="{selector: '#modal1', blurring: true, transition: 'scale'}" class="ui button">Open Modal</div>
<div id="modal1" class="ui modal"><i class="close icon"></i>
  <div class="header">Profile Picture</div>
  <div class="image content">
    <div class="ui medium image"><img src="media/images/rachel.png"/></div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">Nope</div>
    <div class="ui positive right labeled icon button">Yep, that's me<i class="checkmark icon"></i></div>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Popup</div>
<div class="ui menu"><a ui-popup="ui-popup" [options]="{inline: true, hoverable: true, position: 'top left', delay: {show: 100, hide: 800}}" class="browse item">Browse<i class="dropdown icon"></i></a>
  <div class="ui popup bottom left transition hidden">
    <div class="ui four column relaxed divided grid">
      <div class="column">
        <h4 class="ui header">Fabrics</h4>
        <div class="ui link list"><a class="item">Cashmere</a><a class="item">Linen</a><a class="item">Cotton</a><a class="item">Viscose</a></div>
      </div>
    </div>
  </div><a ui-popup="ui-popup" [options]="{inline: true, hoverable: true, position: 'top left', delay: {show: 100, hide: 800}}" class="browse item">Browse<i class="dropdown icon"></i></a>
  <div class="ui popup bottom left transition hidden">
    <div class="ui four column relaxed divided grid">
      <div class="column">
        <h4 class="ui header">Types</h4>
        <div class="ui link list"><a class="item">Knitwear</a><a class="item">Outerwear</a><a class="item">Pants</a><a class="item">Shoes</a></div>
      </div>
    </div>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Progress Bar</div>
<div class="ui segment">
  <div id="progress1" ui-progress="ui-progress" [options]="{percent: 0, total: 4, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}" class="ui tiny teal progress">
    <div class="bar"></div>
    <div class="label"></div>
  </div>
  <div class="ui buttons">   
    <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress1', type: 'decrement'}" class="button ui negative">-</div>
    <div class="or"></div>
    <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress1', type: 'increment'}" class="button ui positive">+</div>
  </div>
</div>
<div class="ui inverted segment">
  <div id="progress2" ui-progress="ui-progress" [options]="{percent: 0, total: 10, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}" class="inverted ui progress yellow">
    <div class="bar"></div>
    <div class="label"></div>
  </div>
  <div class="ui buttons">   
    <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress2', type: 'decrement'}" class="button ui negative">-</div>
    <div class="or"></div>
    <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress2', type: 'increment'}" class="button ui positive">+</div>
  </div>
</div>
<div class="ui segment">
  <div class="ui card">
    <div class="image"><img src="media/images/rachel.png"/></div>
    <div class="content"><a class="header">Project</a>
      <div class="meta"><span class="date">Started in 2014</span></div>
    </div>
    <div class="extra content"><a><i class="user icon"></i>      22 Friends</a></div>
    <div id="progress3" ui-progress="ui-progress" [options]="{percent: 0, total: 3, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}" class="ui top attached progress orange">
      <div class="bar"></div>
      <div class="label"></div>
    </div>
    <div class="ui buttons">   
      <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress3', type: 'decrement'}" class="button ui negative">-</div>
      <div class="or"></div>
      <div ui-progress-button="ui-progress-button" [options]="{selector: '#progress3', type: 'increment'}" class="button ui positive">+</div>
    </div>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Rating</div>
<div class="ui segment">  
  <div ui-rating="ui-rating" [options]="{initialRating: 3, maxRating: 10}" class="ui star rating"></div>
</div>
<div class="ui segment"> 
  <div ui-rating="ui-rating" [options]="{initialRating: 3, maxRating: 10}" class="ui heart rating"></div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Rating</div>
<div class="ui segment">  
  <div ui-search="ui-search" [options]="{source: mockContent, searchFields: ['title'], minCharacters: 1, transition: 'scale'}" class="ui search">
    <div class="ui icon input">
      <input type="text" placeholder="Local Search" class="prompt"/><i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>
<div class="ui segment">
  <div ui-search="ui-search" [options]="{apiSettings: {url: '//api.github.com/search/repositories?q={query}'},fields: {results: 'items',  title :'name', url: 'html_url'}, minCharacters : 3}" class="ui search">
    <div class="ui left icon input">
      <input ui-search="ui-search" type="text" placeholder="Search GitHub" class="prompt"/><i class="github icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div><br/><br/>
<hr/>
<div class="ui sub header">Shapes</div>
<div class="ui segment">
  <div class="ui ignored icon direction buttons">
    <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip left'}" class="ui button"><i class="left long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip up'}" class="ui button"> <i class="up long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip down'}" class="ui button"> <i class="down long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip right'}" class="ui button"> <i class="right long arrow icon"></i></div>
    <div style="margin-left: 20px" class="ui ignored icon direction buttons">
      <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip over'}" class="ui button"> <i class="retweet icon"></i></div>
      <div ui-shape="ui-shape" [options]="{selector: '#shape1', animation: 'flip back'}" class="ui button"> <i class="flipped retweet icon"></i></div>
    </div>
  </div>
</div>
<div style="min-height: 250px" class="ui segment">  
  <div id="shape1" class="ui cube shape">
    <div class="sides">
      <div class="active side">
        <div class="content">
          <div class="center">1</div>
        </div>
      </div>
      <div class="side">
        <div class="content">
          <div class="center">2</div>
        </div>
      </div>
      <div class="side">
        <div class="content">
          <div class="center">3</div>
        </div>
      </div>
      <div class="side">
        <div class="content">
          <div class="center">4</div>
        </div>
      </div>
      <div class="side">
        <div class="content">
          <div class="center">5</div>
        </div>
      </div>
      <div class="side">
        <div class="content">
          <div class="center">6</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui ignored icon direction buttons">
    <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip left'}" class="ui button"><i class="left long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip up'}" class="ui button"> <i class="up long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip down'}" class="ui button"> <i class="down long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip right'}" class="ui button"> <i class="right long arrow icon"></i></div>
    <div style="margin-left: 20px" class="ui ignored icon direction buttons">
      <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip over'}" class="ui button"> <i class="retweet icon"></i></div>
      <div ui-shape="ui-shape" [options]="{selector: '#shape2', animation: 'flip back'}" class="ui button"> <i class="flipped retweet icon">   </i></div>
    </div>
  </div>
</div>
<div style="min-height: 500px" class="ui segment">                  
  <div id="shape2" class="ui people shape">
    <div class="sides">
      <div class="side active">
        <div class="ui card">
          <div class="image"><img src="media/images/steve.jpg"/></div>
          <div class="content">
            <div class="header">Steve Jobes</div>
            <div class="meta"><a>Acquaintances</a></div>
            <div class="description">Steve Jobes is a fictional character designed to resemble someone familiar to readers.</div>
          </div>
          <div class="extra content"><span class="right floated">Joined in 2014</span><span><i class="user icon"></i>151 Friends</span></div>
        </div>
      </div>
      <div class="side">
        <div class="ui card">
          <div class="image"><img src="media/images/rachel.png"/></div>
          <div class="content"><a class="header">Stevie Feliciano</a>
            <div class="meta"><span class="date">Joined in 2014</span></div>
            <div class="description">Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.</div>
          </div>
          <div class="extra content"><a><i class="user icon"></i>22 Friends              </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui ignored icon direction buttons">
    <div ui-shape="ui-shape" [options]="{selector: '#shape3', animation: 'flip left'}" class="ui button"><i class="left long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape3', animation: 'flip up'}" class="ui button"> <i class="up long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape3', animation: 'flip down'}" class="ui button"> <i class="down long arrow icon"></i></div>
    <div ui-shape="ui-shape" [options]="{selector: '#shape3', animation: 'flip right'}" class="ui button"> <i class="right long arrow icon">     </i></div>
  </div><br/><br/>
</div>
<div style="min-height: 75px" class="ui segment">  
  <div id="shape3" class="ui text shape">
    <div class="sides">
      <div class="ui header side">Did you know? This side starts visible.</div>
      <div class="ui header side">Help, its another side!</div>
      <div class="ui header side active">This is the last side</div>
    </div>
  </div>
</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>