hr
.ui.sub.header Sidebar
.ui.segment
  .button.ui(ui-sidebar [options]="{selector: '#sidebar1', animation: 'push'}") Right Sidebar (P)
  .button.ui(ui-sidebar [options]="{selector: '#sidebar2', animation: 'overlay'}") Left Sidebar (O)
  .button.ui(ui-sidebar [options]="{selector: '#sidebar3', animation: 'scale down'}") Bottom Sidebar (S)
  .button.ui(ui-sidebar [options]="{selector: '#sidebar4', animation: 'scale down'}") Top Sidebar (S)

.ui.sub.header Highlight
.ui.segment
  h4
    span([myHighlight]="'yellow'") Highlight Text

br
br
hr
.ui.sub.header 
  p Animation   
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer1 .image', animation : 'scale', reverse : 'auto', interval: 200}") Fade 
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer1 .image', animation : 'jiggle', duration: '.5s', reverse : 'auto', interval: 200}") Jiggle 
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer1 .image', animation : 'pulse', duration: '.5s', reverse : 'auto', interval: 200}") Pulse
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer1 .image', animation : 'horizontal flip', duration: '.5s', reverse : 'auto', interval: 200}") Horizontal Flip
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer1 .image', animation : 'vertical flip', duration: '.5s', reverse : 'auto', interval: 200}") Vertical Flip
.ui.segment  
  #imageContainer1.ui.grid.centered
    .three.wide.column     
        img.ui.image.centered.tiny(ui-transition-onload [options]="{animation: 'horizontal flip in', duration: '1s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-onload [options]="{animation: 'vertical flip in', duration: '1s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-onload [options]="{animation: 'pulse', duration: '1s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-onload [options]="{animation: 'bounce', duration: '1s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-onload [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')

.ui.sub.header Looping
.ui.segment  
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer2 .image', loop: false}") Stop Loop
  .ui.button.tiny(ui-transition-button [options]="{selector: '#imageContainer2 .image', animation: 'bounce', loop: true}") Start Loop
  #imageContainer2.ui.grid.centered
    .three.wide.column     
        img.ui.image.centered.tiny(src='media/images/steve.jpg')
        
.ui.sub.header On Hover
.ui.segment  
  #imageContainer3.ui.grid.centered
    .three.wide.column     
        img.ui.image.centered.tiny(ui-transition-hover [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-hover [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-hover [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-hover [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')
    .three.wide.column
        img.ui.image.centered.tiny(ui-transition-hover [options]="{animation: 'jiggle', duration: '.5s'}" src='media/images/rachel.png')



br
br
hr
.ui.sub.header Tabs
.ui.segment   
  div(ui-tab)
    .ui.top.attached.tabular.menu
      a.item.active(data-tab='first') First
      a.item(data-tab='second') Second
      a.item(data-tab='third') Third
    .ui.bottom.attached.tab.segment.active(data-tab='first')
      | First
    .ui.bottom.attached.tab.segment(data-tab='second')
      | Second
    .ui.bottom.attached.tab.segment(data-tab='third')
      | Third

    
br
br
hr
.ui.sub.header Accordian
.ui.segment
  .ui.styled.fluid.accordion(ui-accordian)
    .active.title
      i.dropdown.icon
      |     What is a dog?
    .active.content
      p
        | A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.
    .title
      i.dropdown.icon
      |     What kinds of dogs are there?
    .content
      p
        | There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
    .title
      i.dropdown.icon
      |     How do you acquire a dog?
    .content
      p
        | Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
      p
        | A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.


br
br
hr
.ui.sub.header Toggle
.ui.segment
  .ui.toggle.checkbox(ui-checkbox [toggle]='true')
    input(type='checkbox')
    label Is Toggled!


br
br
hr
.ui.sub.header Blur
.ui.segment
  .ui.grid
    .four.wide.column
      .ui.card.blurring(ui-dimmer)
        .image
          img(src='media/images/rachel.png')
        .content
          a.header Click 
          .meta
            span.date to blur
        .extra.content
          a
            i.user.icon
            |       22 Friends
    .four.wide.column
      .ui.card.blurring(ui-dimmer [options]="{on: 'hover'}")
        .image
          img(src='media/images/rachel.png')
        .content
          a.header Hover
          .meta
            span.date to blur
        .extra.content
          a
            i.user.icon
            |       22 Friends  
    .four.wide.column
      .ui.card.blurring(ui-dimmer)
        .ui.dimmer
          .content
            .center
              h2.ui.inverted.icon.header
                i.heart.icon
                |           Dimmed Message!      
        .image
          img(src='media/images/rachel.png')
        .content
          a.header With Content
          .meta
            span.date to blur
        .extra.content
          a
            i.user.icon
            |       22 Friends     
    .four.wide.column
      #dimExample.ui.card.blurring  
        .image
          img(src='media/images/rachel.png')
        .content
          a.header Click Button
          .meta
            span.date to blur
        .extra.content
          .ui.button(ui-dimmer-button [options]="{selector: '#dimExample'}")
            | Dim Button            


br
br
hr
.ui.sub.header Selection
.ui.segment
  select.ui.fluid.normal.dropdown(multiple ui-dropdown [options]="{maxSelections: 4}")
    option(value='') Skills
    option(value='angular') Angular
    option(value='css') CSS
    option(value='design') Graphic Design
    option(value='ember') Ember
    option(value='html') HTML
    option(value='ia') Information Architecture
    option(value='javascript') Javascript
    option(value='mech') Mechanical Engineering
    option(value='meteor') Meteor
    option(value='node') NodeJS
    option(value='plumbing') Plumbing
    option(value='python') Python
    option(value='rails') Rails
    option(value='react') React
    option(value='repair') Kitchen Repair
    option(value='ruby') Ruby
    option(value='ui') UI Design
    option(value='ux') User Experience


br
br
hr
.ui.sub.header Embed
.ui.segment.ui.embed(ui-embed [options]="{source: 'youtube', id: 'Ff9lqoQ6S1w', placeholder: 'media/images/blackgradientstripes.png'}")


br
br
hr
.ui.sub.header Modals
.ui.button(ui-modal [options]="{selector: '#modal1', blurring: true, transition: 'scale'}") Open Modal
.ui.modal#modal1
  i.close.icon
  .header
    | Profile Picture
  .image.content
    .ui.medium.image
      img(src='media/images/rachel.png')
    .description
      .ui.header We've auto-chosen a profile image for you.
      p
        | We've grabbed the following image from the 
        a(href='https://www.gravatar.com', target='_blank') gravatar
        |  image associated with your registered e-mail address.
      p Is it okay to use this photo?
  .actions
    .ui.black.deny.button
      | Nope
    .ui.positive.right.labeled.icon.button
      | Yep, that's me
      i.checkmark.icon

br
br
hr
.ui.sub.header Popup
.ui.menu
  a.browse.item(ui-popup [options]="{inline: true, hoverable: true, position: 'top left', delay: {show: 100, hide: 800}}")
    | Browse
    i.dropdown.icon
  .ui.popup.bottom.left.transition.hidden
    .ui.four.column.relaxed.divided.grid
      .column
        h4.ui.header Fabrics
        .ui.link.list
          a.item Cashmere
          a.item Linen
          a.item Cotton
          a.item Viscose
  a.browse.item(ui-popup [options]="{inline: true, hoverable: true, position: 'top left', delay: {show: 100, hide: 800}}")
    | Browse
    i.dropdown.icon
  .ui.popup.bottom.left.transition.hidden
    .ui.four.column.relaxed.divided.grid
      .column
        h4.ui.header Types
        .ui.link.list
          a.item Knitwear
          a.item Outerwear
          a.item Pants
          a.item Shoes


br
br
hr
.ui.sub.header Progress Bar
.ui.segment
  #progress1.ui.tiny.teal.progress(ui-progress [options]="{percent: 0, total: 4, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}")
    .bar
    .label
  .ui.buttons    
    .button.ui.negative(ui-progress-button [options]="{selector: '#progress1', type: 'decrement'}") -
    .or
    .button.ui.positive(ui-progress-button [options]="{selector: '#progress1', type: 'increment'}") +
    
.ui.inverted.segment
  #progress2.inverted.ui.progress.yellow(ui-progress [options]="{percent: 0, total: 10, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}")
    .bar
    .label
  .ui.buttons    
    .button.ui.negative(ui-progress-button [options]="{selector: '#progress2', type: 'decrement'}") -
    .or
    .button.ui.positive(ui-progress-button [options]="{selector: '#progress2', type: 'increment'}") +

.ui.segment
  .ui.card
    .image
      img(src='media/images/rachel.png')
    .content
      a.header Project
      .meta
        span.date Started in 2014
    .extra.content
      a
        i.user.icon
        |       22 Friends
    #progress3.ui.top.attached.progress.orange(ui-progress [options]="{percent: 0, total: 3, text: {active: 'Adding {value} of {total} photos | {left} left to go | {percent}%', success: '{total} photos uploaded!'}}")
      .bar
      .label
    .ui.buttons    
      .button.ui.negative(ui-progress-button [options]="{selector: '#progress3', type: 'decrement'}") -
      .or
      .button.ui.positive(ui-progress-button [options]="{selector: '#progress3', type: 'increment'}") +
      
br
br
hr
.ui.sub.header Rating
.ui.segment   
  .ui.star.rating(ui-rating [options]="{initialRating: 3, maxRating: 10}")
.ui.segment  
  .ui.heart.rating(ui-rating [options]="{initialRating: 3, maxRating: 10}")


br
br
hr
.ui.sub.header Rating
.ui.segment   
  .ui.search(ui-search [options]="{source: mockContent, searchFields: ['title'], minCharacters: 1, transition: 'scale'}")
    .ui.icon.input
      input.prompt(type='text' placeholder='Local Search')
      i.search.icon
    .results
.ui.segment
  .ui.search(ui-search [options]="{apiSettings: {url: '//api.github.com/search/repositories?q={query}'},fields: {results: 'items',  title :'name', url: 'html_url'}, minCharacters : 3}")
    .ui.left.icon.input
      input.prompt(ui-search type='text' placeholder='Search GitHub')
      i.github.icon
    .results
      
      

br
br
hr
.ui.sub.header Shapes
.ui.segment
  .ui.ignored.icon.direction.buttons
    .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip left'}")
      i.left.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip up'}") 
      i.up.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip down'}") 
      i.down.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip right'}") 
      i.right.long.arrow.icon
    
    .ui.ignored.icon.direction.buttons(style='margin-left: 20px')
      .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip over'}") 
        i.retweet.icon
      .ui.button(ui-shape [options]="{selector: '#shape1', animation: 'flip back'}") 
        i.flipped.retweet.icon
      
.ui.segment(style='min-height: 250px')   
  #shape1.ui.cube.shape
    .sides
      .active.side
        .content
          .center
            | 1
      .side
        .content
          .center
            | 2
      .side
        .content
          .center
            | 3
      .side
        .content
          .center
            | 4
      .side
        .content
          .center
            | 5
      .side
        .content
          .center
            | 6
.ui.segment
  .ui.ignored.icon.direction.buttons
    .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip left'}")
      i.left.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip up'}") 
      i.up.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip down'}") 
      i.down.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip right'}") 
      i.right.long.arrow.icon
    
    .ui.ignored.icon.direction.buttons(style='margin-left: 20px')
      .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip over'}") 
        i.retweet.icon
      .ui.button(ui-shape [options]="{selector: '#shape2', animation: 'flip back'}") 
        i.flipped.retweet.icon    
        
.ui.segment(style='min-height: 500px')                   
  #shape2.ui.people.shape
    .sides
      .side.active
        .ui.card
          .image
            img(src='media/images/steve.jpg')
          .content
            .header Steve Jobes
            .meta
              a Acquaintances
            .description
              | Steve Jobes is a fictional character designed to resemble someone familiar to readers.
          .extra.content
            span.right.floated
              | Joined in 2014
            span
              i.user.icon
              | 151 Friends
      .side
        .ui.card
          .image
            img(src='media/images/rachel.png')
          .content
            a.header Stevie Feliciano
            .meta
              span.date Joined in 2014
            .description
              | Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
          .extra.content
            a
              i.user.icon
              | 22 Friends              
      
.ui.segment
  .ui.ignored.icon.direction.buttons
    .ui.button(ui-shape [options]="{selector: '#shape3', animation: 'flip left'}")
      i.left.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape3', animation: 'flip up'}") 
      i.up.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape3', animation: 'flip down'}") 
      i.down.long.arrow.icon
    .ui.button(ui-shape [options]="{selector: '#shape3', animation: 'flip right'}") 
      i.right.long.arrow.icon      
  br
  br
.ui.segment(style='min-height: 75px')   
    #shape3.ui.text.shape
      .sides
        .ui.header.side Did you know? This side starts visible.
        .ui.header.side Help, its another side!
        .ui.header.side.active This is the last side
      
br
br
br
br
br
br
br
br
br
br
br
br
