extends layout

block content
    test-component
      center
        i.fa.fa-spinner.fa-pulse
    app-header
      center
        i.fa.fa-spinner.fa-pulse
    app-sidebar
      center
        i.fa.fa-spinner.fa-pulse        
    my-app
      center
        i.fa.fa-spinner.fa-pulse
