.ui.main.text.container
  .ui.header Tutorial
  p How to combine the best of both worlds!
.ui.borderless.main.menu(ui-visibility='ui-visibility', [options]="{type: 'fixed'}")
  .ui.text.container
    .header.item([routerLink]="['Home']")
      img.logo(src='media/images/logo.png')
      |  Ui-Semantic + Angular 2
    a.item([routerLink]="['Directives']")  Directives
    a.item([routerLink]="['About']") About
    a.ui.right.floated.dropdown.item(ui-dropdown='ui-dropdown', [options]="{on: 'hover'}")
      | Dropdown 
      i.dropdown.icon
      .menu
        .item Link Item
        .item Link Item
        .divider
        .header Header Item
        .item
          i.dropdown.icon
          |             Sub Menu
          .menu
            .item Link Item
            .item Link Item
        .item Link Item



.ui.text.container
  br
  br
  br
  br
  router-outlet

parts-footer
