#hero-container.ui.container.ui.container
  br
  .ui.three.item.menu
    a.item([routerLink]="['Home']") Ui-Semantics
    a.item([routerLink]="['About']") Grid
    a.item([routerLink]="['Contact']") Components
  br
  router-outlet
