.ui.segment
	h5 Sidebar
	parts-sidebar

.ui.segment
	h5 Dropdown
	parts-dropdown

.ui.segment
	h5 Accordian
	parts-accordian
	
.ui.segment
	h5 Checkbox
	parts-toggle
	
.ui.segment
	h5 Dimmer
	parts-dimmer    
	
.ui.segment
	h5 Embed
	parts-embed

.ui.segment
	h5 Modal
	parts-modal    
	
.ui.segment
	h5 Popover
	parts-popup

.ui.segment
	h5 Progress
	parts-progress

.ui.segment
	h5 Ratings
	parts-ratings
	
.ui.segment
	h5 Search
	parts-search

.ui.segment
	h5 Shapes
	parts-shapes

parts-filler  
