
<div class="ui segment">
  <h5>Sidebar</h5>
  <parts-sidebar></parts-sidebar>
</div>
<div class="ui segment">
  <h5>Dropdown</h5>
  <parts-dropdown></parts-dropdown>
</div>
<div class="ui segment">
  <h5>Accordian</h5>
  <parts-accordian></parts-accordian>
</div>
<div class="ui segment">
  <h5>Checkbox</h5>
  <parts-toggle></parts-toggle>
</div>
<div class="ui segment">
  <h5>Dimmer</h5>
  <parts-dimmer>   </parts-dimmer>
</div>
<div class="ui segment">
  <h5>Embed</h5>
  <parts-embed></parts-embed>
</div>
<div class="ui segment">
  <h5>Modal</h5>
  <parts-modal>   </parts-modal>
</div>
<div class="ui segment">
  <h5>Popover</h5>
  <parts-popup></parts-popup>
</div>
<div class="ui segment">
  <h5>Progress</h5>
  <parts-progress></parts-progress>
</div>
<div class="ui segment">
  <h5>Ratings</h5>
  <parts-ratings></parts-ratings>
</div>
<div class="ui segment">
  <h5>Search</h5>
  <parts-search></parts-search>
</div>
<div class="ui segment">
  <h5>Shapes</h5>
  <parts-shapes></parts-shapes>
</div>
<parts-filler> </parts-filler>