doctype html
html
  head
    title= title    
    link(rel='stylesheet', href='/stylesheets/minified/style.min.css')
    // core angular2 files
    script(src='javascripts/minified/core.min.js')         
    script(src='node_modules/angular2/bundles/angular2-polyfills.js')
    
    // framewor
    script(src='javascripts/unminified/framework.js') 
    
    // live reload for development    
    script(src='//localhost:35729/livereload.js')    // for scripts
    
  body
    block content
