.mobile.only(style='height: 32px; width: 100%')
.ui(ui-tab)
  .ui.top.attached.menu.inverted
    a.active.item(data-tab='first' style='width: 25%') Active
    a.item(data-tab='second' style='width: 25%') Mockups
    a.item(data-tab='third' style='width: 25%') Projects
    a.item(data-tab='forth' style='width: 25%') Github
  .ui.bottom.attached.active.tab.segment(data-tab='first')
    .ui.items.divided.link
      .item.ui(*ngFor="#s of liveSites" style='padding: 20px')        
        .image.ui.small          
            img(src='{{s.src}}')
        .content(style='padding: 20px')
          a.header(target="_blank" href='{{s.url}}') {{s.title}}
          .meta
            span {{s.description}}
          .description
            p
          .extra
            br
            .ui.label 
              i.fa.fa-external-link &nbsp;&nbsp;Check it out!

  .ui.bottom.attached.tab.segment(data-tab='second')
    .ui.items.divided.link
      .item.ui(*ngFor="#s of siteMockups" style='padding: 20px')        
        .image.ui.small          
            img(src='{{s.src}}')
        .content.middle.aligned(style='padding: 20px')
          a.header(target="_blank" href='{{s.url}}') {{s.title}}
          .meta
            span {{s.description}}
          .description
            p
          .extra
            .ui.label 
              i.fa.fa-external-link
              a(target="_blank" href='{{s.url}}') &nbsp;&nbsp;Check it out!   
            
  .ui.bottom.attached.tab.segment(data-tab='third')
    .ui.items.divided.link
      .item.ui(*ngFor="#s of myProjects" style='padding: 20px')        
        .image.ui.small          
            img(src='{{s.src}}')
        .content.middle.aligned(style='padding: 20px')
          a.header(target="_blank" href='{{s.url}}') {{s.title}}
          .meta
            span {{s.description}}
          .description
            p
          .extra
            .ui.label 
              i.fa.fa-external-link
              a(target="_blank" href='{{s.url}}') &nbsp;&nbsp;Check it out!   
            
  .ui.bottom.attached.tab.segment(data-tab='forth')
    .ui.items.divided.link
      .item.ui(*ngFor="#s of myRepos" style='padding: 20px')        
        .image.ui.small          
            img(src='{{s.src}}')
        .content.middle.aligned(style='padding: 20px')
          a.header(target="_blank" href='{{s.url}}') {{s.title}}
          .meta
            span {{s.description}}
          .description
            p
          .extra
            .ui.label 
              i.fa.fa-external-link
              a(target="_blank" href='{{s.url}}') &nbsp;&nbsp;Check it out!   
